<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('LeLivre - Shop By Categories', 'none')" />
<body>
<div class="container-fluid">
	<div th:replace="navigation :: header_menu"></div>
	<div th:replace="navigation :: search_nav"></div>
	
	<h1>Shopping by Categories</h1>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col" th:each="cat : ${listCategories}">
				<div><img th:src="@{${cat.imagePath}}" width="140" height ="200"/></div>
				<div>
					<a th:href="@{'/categories/' + ${cat.alias}}">[[${cat.name}]]</a>
				</div>
			</div>
		</div>
	</div>
	
	<div th:replace="navigation :: footer_menu"></div>

	
</div>	
</body>
</html>