<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head(${pageTitle}, 'none')" />

<body style="background-color: #FF8F59; ">
	<div class="container-fluid">
		<div th:replace="navigation :: header_menu"></div>

		<div th:replace="breadcrumb :: content"></div>
		<div class="container" style="background-color: white; ">
			<div class="row">
				<div class="col-sm">
					<div>
						<img th:src="@{${book.coverPath}}" class="img-fluid" />
					</div>
				</div>
				<div class="col-sm">
					<div>
						<h2>[[${book.name}]]</h2>
					</div>
					<div>
						<span><b>Author:</b> [[${book.author.name}]]</span> &nbsp;<span><b>Publisher:</b>
							[[${book.publisher.name}]]</span>
					</div>
					<div>
						<b>Price:</b>
						<span th:if="${book.discountPercent <= 0}">$ [[${book.price}]]</span>
						<del th:if="${book.discountPercent > 0}"><span>$ [[${book.price}]]</span></del>
					</div>
					<div th:if="${book.discountPercent > 0}">
						Price:
						<span style="font-size: larger; color: darkred">$ [[${book.discountPercent}]]</span>
						([[${book.discountPercent}]] % off)
					</div>
					<div>&nbsp;</div>
				</div>
				<div class="col-sm">
					<div>
						<span th:if="${book.inStock}" class="text-success"><b>In Stock</b></span>
						<span th:unless="${book.inStock}" class="text-danger"><b>Out of Stock</b></span>
					</div>
					<div class="purchase-info">
						<input type="number" min="0" value="1">
						<button type="button" class="btn btn-danger">
							ADD TO CART <i class="fa fa-shopping-cart"></i>
						</button>

					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<div>
						<hr />
					</div>
					<div>
						<h3>Product Description:</h3>
					</div>
					<div th:utext="${book.description}"></div>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<div>
						<hr />
					</div>
					<div>
						<h3>Product Details:</h3>
					</div>
					<th:block th:each="detail : ${book.details}">
						<div>
							<b>[[${detail.name}]]</b>:
							<span>[[${detail.value}]]</span>
						</div>
					</th:block>
				</div>
			</div>
			
		</div>
		<div class="row">&nbsp;</div>

		<div th:replace="navigation :: footer_menu"></div>
	</div>
</body>

</html>