<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeLeaf.org/thymeLeaf-extras-springsecurit5">

<head th:replace="fragments :: page_head(${pageTitle}, 'none')" />

<body style="background-color: #FF8F59; ">
	<div class="container-fluid" style="background-color: white; ">
		<div th:replace="navigation :: header_menu"></div>

		<div>
			<hr>
			
			<div class="container">
			<h4 style="color: brown; ">All Books</h4>
			<div class="row">&nbsp;</div>
				<div class="row">
					<th:block th:each="book : ${bookList}">
						<div class="col">
							<div>
								<img th:src="@{${book.coverPath}}" width="150" />
								<br />
								<a th:href="@{'/books/' + ${book.name}}"><b>[[${book.name}]]</b></a>
							</div>
							<div th:if="${book.discountPercent <= 0}">
								<span>$ [[${book.price}]]</span>
							</div>
							<div th:if="${book.discountPercent > 0}">
								<span style="font-size: larger; color: darkred">$ [[${book.discountPrice}]]</span>
								<del><span>$ [[${book.price}]]</span></del>
							</div>

						</div>
					</th:block>
				</div>

			</div>

		</div>
		<div th:replace="fragments :: footer"></div>
	</div>
</body>

</html>