<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1.0, minimum-scale=1.0">

<title>LeLivre Book Store - Categories</title>

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<style type="text/css">
.bgimg {
	background: url(images/homeImage.jpg);
	height: 800px;
}
</style>
</head>

<body style="background-color: #FF8F59;">
	<div class="container-fluid">
		<div th:replace="navigation :: header_menu"></div>

		<div>&nbsp;</div>
		<div class="row">

			<div class="col-sm" th:each="cat : ${listCategories}">
				<div class="card p-2">
				<div><img th:src="@{${cat.imagePath}}"></div>
				<div>
				<a>[[${cat.name}]]</a>
				</div>
					
				</div>
			</div>
		</div>

		<div>&nbsp;</div>


		<div th:replace="navigation :: footer_menu"></div>


	</div>
</body>
</html>