<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<!-- Menu -->
<div th:fragment="header_menu">
	
	<nav class="navbar navbar-expand-sm navbar-light"
		style="background-color: white;">
		
		<a th:href="@{/}" class="navbar-brand mb-0"
			style="padding-left: 20px;"> 
			<img th:src="@{/images/logo.jpg}"
			class="d-inline-block align-top" width="120" height="120" />
		</a>
		
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="topNavbar">
			<ul class="navbar-nav">				
				<li class="nav-item">
					<a class="nav-link" href="" style="color: brown;font-size: 20px; padding-left: 30px;">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="" style="color: brown;font-size: 20px; padding-left: 30px;">Books</a>
				</li>				
				<li class="nav-item">
					<a class="nav-link" href="" style="color: brown;font-size: 20px; padding-left: 30px;">About Us</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="" style="color: brown;font-size: 20px; padding-left: 30px;">FAQ</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="" style="color: brown;font-size: 20px; padding-left: 30px;">Contact</a>
				</li>			
			</ul>
			
			<ul class="navbar-nav ms-auto">
				<li class="nav-item active">
					<a href="" class="nav-link active" style="color: brown; font-size: 20px; padding-left: 30px;">Log in</a>
				</li>
			</ul>
		</div>

	</nav>
</div>

<!-- Footer Menu -->
<div th:fragment="footer_menu">
	<div>
		<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: White;">

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bottomNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="bottomNavbar">
				<ul class="navbar-nav">				
					<li class="nav-item">
						<a class="nav-link" href="" style="color: brown; font-size: 20px; padding-left: 30px;">About Us</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="" style="color: brown; font-size: 20px; padding-left: 30px;">Privacy Notice</a>
					</li>				
					<li class="nav-item">
						<a class="nav-link" href="" style="color: brown; font-size: 20px; padding-left: 30px;">Returns &amp; Refunds</a>
					</li>
				</ul>
			</div>		
			
			
		</nav>
		
		<p style="color: brown; font-size: 20px; padding-left: 30px;">LeLivre Inventory System Management - Copyright &copy; LeLivre</p>
	</div>
</div>
</body>
</html>