
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeLeaf.org/thymeLeaf-extras-springsecurit5">

<head
	th:replace="fragments :: page_head('Category - LeLivre Online Store', 'none')" />

<body>
	<div class="container-fluid">
		<div th:replace="navigation :: header_menu"></div>

		<div>
			<h2>Sub-Categories</h2>
			<div class="row">
				<div class="col-sm" th:each="cat : ${listCategories}">
					<div class="card p-2">

						<img th:src="@{${cat.imagePath}}" style="width: 100px"
							class="img-fluid" /> <a class="items" href="">
							[[${cat.name}]] </a>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="fragments :: footer" ></div>
	</div>
</body>

</html>






